.container {
  background-color: $white;
  margin-left: $base-line-height;
  margin-right: 2 * $base-line-height;
  margin-top: 2 * $base-line-height;
  max-width: 45 * $base-font-size;
  padding: $base-line-height;
  position: absolute;
  z-index: 2;
}

.line {
  border: 1px solid $dark-blue;
  bottom: $base-font-size;
  left: $base-font-size;
  pointer-events: none;
  position: fixed;
  right: 2 * $base-font-size;
  top: $base-font-size;
  z-index: 3;
}

.line2 {
  border: 4px solid $black;
  bottom: 2 * $base-font-size;
  left: 2 * $base-font-size;
  pointer-events: none;
  position: fixed;
  right: $base-font-size;
  top: 0;
  z-index: 4;
}

.line3 {
  border-right: 10 * $base-font-size solid $base-orange;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

body {
  overflow-x: hidden;
}

// Clearfix (IE6+)
.group {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &after {
    clear: both;
  }
}
