.container {
  margin: 0 auto;
  max-width: 40 * $base-font-size;
  padding: 8 * $base-font-size 4 * $base-font-size 2 * $base-font-size;

  @media (max-width: 40 * $base-font-size) {
    padding: 2 * $base-font-size;
  }

}

.align-center {
  text-align: center;
}
