.media {
  align-items: flex-start;
  border: 1px solid $base-blue;
  display: flex;
  margin-bottom: $base-line-height;
  padding: $base-line-height / 2;
}

.media__image {
  max-width: 12em;
}

.media__content {
  flex: 1;
  padding: 0 $base-line-height $base-line-height;
}

.project {
  border: 1px solid $base-blue;
  padding: $base-line-height;
  margin-bottom: $base-line-height * 2;
}
