body {
  background-color: $white;
  color: $black;
  font: #{$base-font-size} / #{$base-line-height} $base-font-family;
}

h1 {
  @include print-styles($textsize, large);
  font-family: $header-font-family;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

h2 {
  @include print-styles($textsize, base);
  color: $base-blue;
  font-weight: 700;
  letter-spacing: .15em;
  margin: 0;
}

h3 {
  @include print-styles($textsize, base);
  background-color: $black;
  color: $white;
  letter-spacing: .1em;
  margin: 3em 0 1.5em;
  padding-left: .5em;
  text-transform: uppercase;

  &:before {
    color: $xxx-light-blue;
    content: '>> ';
    font-weight: 400;
  }
}

h4 {
  @include print-styles($textsize, small);
  text-transform: uppercase;
}

a {
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 1px;
  color: $base-orange;
  font-weight: 700;
  letter-spacing: .15em;
  text-decoration: none;

  &:hover {
    background-color: $base-orange;
    color: $white;
    text-decoration: none;
  }

  &:active {
    background-color: $dark-orange;
    color: $white;
    text-decoration: none;
  }

  &.image-link {
    border: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

p {
  @include print-styles($textsize, base);
}

small,
.small {
  @include print-styles($textsize, small);
  display: inline-block;
  margin-bottom: 0;
}

strong {
  font-weight: 700;
  letter-spacing: .15em;
}

ol,
ul {
  margin-bottom: 1.5em;
  padding-left: 1em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}
