body {
  background-color: $peach;
  color: $base-blue;
  font: #{$base-font-size} / #{$base-line-height} $base-font-family;
}

h1,
h2,
h3,
h4 {
  color: $base-blue;
  font-family: $header-font-family;
  letter-spacing: .05em;
}

h1 {
  @include print-styles($textsize, xx-large);
  font-weight: 400;
}

h2 {
  @include print-styles($textsize, large);
  border-bottom: 4px solid $dark-blue;
  letter-spacing: .1em;
  margin-top: $base-font-size * 3;
}

h3 {
  @include print-styles($textsize, x-large);
  padding-top: $base-font-size;
  text-transform: uppercase;
}

h4 {
  @include print-styles($textsize, large);
}

a {
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 1px;
  color: $base-orange;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    background-color: $base-orange;
    color: $white;
    text-decoration: none;
  }

  &:active {
    background-color: $dark-orange;
    color: $white;
    text-decoration: none;
  }

  &.image-link {
    border: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

p {
  @include print-styles($textsize, base);
}

small,
.small {
  @include print-styles($textsize, small);
  display: inline-block;
  margin-bottom: 0;
}

strong {
  font-weight: 700;
  letter-spacing: .1em;
}

ol,
ul {
  margin-bottom: $base-font-size * 1.5;
  padding-left: $base-font-size;
}

ol {
  list-style-type: decimal;
}

.skills-list {
  @include print-styles($textsize, small);
  list-style-type: none;
  margin-bottom: $base-font-size * .75;
  padding: 0;
}

.skills-list__item {
  background-color: $base-blue;
  border-radius: $base-font-size;
  color: $white;
  display: inline-block;
  margin: 0 $base-font-size * .25 $base-font-size * .5 0;
  padding: 0 $base-font-size * .5;
}

.item_color_white {
  background-color: $white;
  color: $base-blue;
}

.highlight {
  color: $base-orange;
}

.white {
  color: $white;
}
